{% extends 'layout.twig' %}
{% block nav %}
    <header>
    <nav>
        <a href="{{ '' | url }}"><img src="{{ ''| url }}img/logo.png" class="logo" alt="logo de la pagina" width="100" height=100"></a>
       <div class="title"><h2 >Gestion de Personal</h2></div>
        <ul class="nav navbar-nav listaRegistro">
            <li class="registro"><a href="{{ 'user/registro' | url }}">Registro</a></li>
            <li class="registro"><a href="{{ 'user/login' | url }}">Login</a></li>
        </ul>
    </nav>
</header>
{% endblock %}

{% block content %}

        <div class="col-md-4 tics">
            <img src="{{ ''| url }}img/tic.jpg" alt="tics" height="270" width="270">
            <h3>Añade las TICs en tu entorno empresarial</h3>
            <p>Las Tecnologías de la Información y las Comunicaciones (TIC), es una excelente herramienta
                de gestión empresarial,
                que ayuda positivamente para el desarrollo y viabilidad de las organizaciones. Las TICs
                agregan valor a las actividades operacionales y de gestión empresarial en general y
                permite a las empresas obtener ventajas competitivas, permanecer en el mercado y centrarse
                en su negocio.
            </p>
        </div>
        <div class="col-md-4 departamento">
            <img src="{{ ''| url }}img/gestion_departamento.jpg" alt="despartamento" height="270" width="270">
            <h3>La creación de departamentos</h3>
            <p>La teoría de organización de empresas nos dice que la estructura organizativa de una empresa
                depende de su estrategia: es decir, primero hay que definir la estrategia a seguir (misión,
                visión y objetivos estratégicos) para después organizar internamente la empresa de tal forma
                que facilite la consecución de dichos objetivos. Y todo esto es posible mediante esta WEB,
                solamente debes estar registrado
            </p>
        </div>
        <div class="col-md-4 usuarios">
            <img src="{{ ''| url }}img/gestion_usuarios.jpg" alt="usuarios" height="270" width="270">
            <h3>Gestion de Usuarios</h3>
            <p>Esta WEB pone a su disposición las máximas facilidades para asignar
                permisos de gestión a otros usuarios y simplificar la administración de su negocio. Sin coste
                de alta, ni comisiones de mantenimiento.El servicio de Gestión de usuarios es un servicio
                exclusivo que permite a los apoderados de la empresa habilitar a otros empleados (no
                apoderados) de permisos para acceder a la información de los contratos de la firma, así como
                para iniciar determinadas operaciones y dejarlas pendientes de firma.
            </p>
        </div>

{% endblock %}