{% extends 'layout.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ '' | url }}css/app.css">
{% endblock %}
{% block nav %}
    <header>
        <nav>
            <a href="{{ '' | url }}"><img src="{{ ''| url }}img/logo.png" class="logo" alt="logo de la pagina"
                                          width="100" height=100"></a>
            <div class="title"><h2>Gestion de Personal</h2></div>
            <ul class="nav navbar-nav listaRegistro">
                <li class="registro"><a href="{{ 'user/registro' | url }}">Registro</a></li>
            </ul>
        </nav>
    </header>
{% endblock %}

{% block content %}
    <h1>{{ info.subtitle }}</h1>
    <form class="formLogin" method="POST" action="{{ 'user/login' | url }}">
        <div class="col-xs-3 form-group  {% if errors['email'] %} has-error {% endif %}">
            <label for="inputEmail">email</label>
            <input type="email" id="inputEmail" class="form-control mb-2 mb-sm-0"
                   name="userEmail" placeholder="User Email">
        </div>

        <div class="col-xs-3 form-group  {% if errors['pass'] %} has-error {% endif %}">
            <label for="inputPass">Password</label>
            <input type="password" id="inputPass"
                   class=" form-control"
                   name="userPass"
                   placeholder="User Password">
        </div>
        <br>
        <button class="btn btn-primary" type="submit">{{ info.submit }}</button>
    </form>
{% endblock %}