{% extends 'layout.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ '' | url }}css/app.css">
{% endblock %}
{% block nav %}
    <header>
        <nav>
            <a href="{{ '' | url }}"><img src="{{ ''| url }}img/logo.png" class="logo" alt="logo de la pagina" width="100" height=100"></a>
            <div class="title"><h2 >Gestion de Personal</h2></div>
            <ul class="nav navbar-nav listaRegistro">
                <li class="registro"><a href="{{ 'user/login' | url }}">Login</a></li>
            </ul>
        </nav>
    </header>
{% endblock %}

{% block content %}
    <h1>{{ info.subtitle }}</h1>
    <form class="formLogin" method="POST" action="{{ 'user/registro' | url }}">
        <div class="form-group  {% if errors['name'] %} has-error {% endif %}">
            <label for="inputEmail">Name</label>
            <input type="text" id="inputName" class="form-control"
                   name="userName" placeholder="User Name" value="{{ data.name }}" autofocus>
        </div>
        {{ generateAlert(errors, 'userName') }}
        <div class=" form-group  {% if errors['email'] %} has-error {% endif %}">
            <label for="inputEmail">email</label>
            <input type="email" id="inputEmail" class="form-control "
                   name="userEmail" placeholder="User Email" value="{{ data.email }}" autofocus>
        </div>
        {{ generateAlert(errors, 'userEmail') }}

        <div class=" form-group  {% if errors['password'] %} has-error {% endif %}">
            <label for="inputPass">Password</label>
            <input type="password" id="inputPass"
                   class=" form-control"
                   name="userPass"
                   placeholder="User Password">
        </div>
        {{ generateAlert(errors, 'userPass') }}
        <div class=" form-group  {% if errors['password2'] %} has-error {% endif %}">
            <label for="inputPass2">Repeat Password</label>
            <input type="password" id="inputPass2"
                   class=" form-control"
                   name="userPass2"
                   placeholder="Repeat User Password">
        </div>
        {{ generateAlert(errors, 'userPass2') }}

        <br>
        <button class="btn btn-primary" type="submit">{{ info.submit }}</button>
    </form>
{% endblock %}