{% extends 'layout.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ '' | url }}css/app.css">
{% endblock %}
{% block nav %}
    <header>
        <nav>
            <a href="{{ 'user/home' | url }}"><img src="{{ ''| url }}img/logo.png" class="logo" alt="logo de la pagina"
                                                   width="100"
                                                   height=100"></a>
            <div class="title"><h2>Gestion de Personal</h2></div>

            <ul class="nav navbar-nav ">
                <li class="atras"><a href="{{ 'user/home' | url }}"><img src="{{ ''| url }}img/iconoBack.png"
                                                                         alt="atras" height="75" width="75"></a></li>
            </ul>
        </nav>
    </header>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ info.subtitle }}</h1>
        <form method="post">
            <div class="form-group ">
                <label for="inputName">Name</label>
                <input type="text" id="inputName"
                       class="form-control {% if errors['departamentName'] %} has-error {% endif %}"
                       name="departamentName" placeholder="Departament Name"
                       value={{ departament.name }}>
            </div>
            {{ generateAlert(errors, 'departamentName') }}
            <div class="form-group ">
                <label for="inputPlant">Plant</label>
                <input type="number" id="inputPlant"
                       class="form-control {% if errors['departamentPlant'] %} has-error {% endif %}"
                       name="departamentPlant" placeholder="Departament Plant" min="0"
                       value={{ departament.plant }}>
            </div>
            {{ generateAlert(errors, 'departamentPlant') }}

            <div class="form-group {% if errors['departamentType'] %} has-error {% endif %}">
                <label for="inputDepartament">Type</label>
                <br>

                <select name="departamentType" id="inputDepartament">
                    {% for type in types %}
                    {{ generateSelectDepartament(type,departament.type,type) }}
                    {% endfor %}
                </select>

            </div>
            {{ generateAlert(errors, 'departamentType') }}

            {{ generateAlert(errors, 'departamentType') }}
            <input type="hidden" name="_method" value="{{ info.method }}">
            <button class="btn btn-primary pull-right" type="submit">{{ info.submit }}</button>
        </form>

    </div>
{% endblock %}