{% extends "layout.twig" %}
{% block css %}
    <link rel="stylesheet" href="{{ '' | url }}css/app.css">
{% endblock %}
{% block nav %}
    <header>
        <nav>
            <a href="{{ 'user/home' | url }}"><img src="{{ ''| url }}img/logo.png" class="logo"
                                                       alt="logo de la pagina" width="100" height=100"></a>
            <div class="title"><h2>Gestion de Personal</h2></div>

            <ul class="nav navbar-nav ">
                <li class="atras"><a href="{{ 'user/home' | url }}"><img src="{{ ''| url }}img/iconoBack.png"
                                                                             alt="atras" height="75" width="75"></a>
                </li>
            </ul>
        </nav>
    </header>
{% endblock %}
{% block content %}

    <div class="container">

        <h1>{{ info.subtitle }}</h1>
        <form method="post">
            <div class="col-md-4">
                <h3>Personal Data</h3>
                <div class="form-group {% if errors['employedName'] %} has-error {% endif %}">
                    <label for="inputName">Name</label>
                    <input type="text" id="inputName" class="form-control"
                           name="employedName" placeholder="User Name"
                           value={{ employed.name }}>
                </div>
                {{ generateAlert(errors, 'employedName') }}
                <div class="form-group  {% if errors['employedSurnames'] %} has-error {% endif %}">
                    <label for="inputSurnames">Surnames</label>
                    <input type="text" id="inputSurnames"
                           class=" form-control"
                           name="employedSurnames"
                           placeholder="User Surnames"
                           value={{ employed.surnames }}>
                </div>
                {{ generateAlert(errors, 'employedSurnames') }}
                <div class="form-group ">
                    <label for="inputLatestStudies">Latest Studies</label>
                    <input type="text" id="inputLatestStudies" class="form-control" name="employedLastedStudies"
                           placeholder="User Latest Studies" value={{ employed.lasted_studies }}>
                </div>
                <div class="form-group ">
                    <label for="inputLatestJob">Latest Job</label>
                    <input type="text" id="inputLatestJob" class="form-control" name="employedLatestJob"
                           placeholder="User Latest Job" value={{ employed.lasted_job }}>
                </div>

            </div>
            <div class="col-md-4">
                <h3>Contact Data</h3>
                <div class="form-group  {% if errors['employedAddress'] %} has-error {% endif %}">
                    <label for="inputAddress">Address</label>
                    <input type="text" id="inputAddress"
                           class=" form-control"
                           name="employedAddress"
                           placeholder="User Address"
                           value={{ employed.address }}>
                </div>
                {{ generateAlert(errors, 'employedAddress') }}

                <div class="form-group  {% if errors['employedPostcode'] %} has-error {% endif %}">
                    <label for="inputPostcode">Postcode</label>
                    <input type="text" id="inputPostcode"
                           class="form-control"
                           name="employedPostcode"
                           placeholder="User Postcode"
                           value={{ employed.postcode }}>
                </div>
                {{ generateAlert(errors, 'employedPostcode') }}
                <div class="form-group  {% if  errors['employedEmail'] %}has-error{% endif %} ">
                    <label for="inputEmail">Email</label>
                    <input type="email" id="inputEmail" name="employedEmail"
                           class="form-control" placeholder="User Email"
                           value={{ employed.email }}>
                </div>
                {{ generateAlert(errors, 'employedEmail') }}

                <div class="form-group  {% if errors['employedMovil'] %} has-error {% endif %}">
                    <label for="inputMovil">movil</label>
                    <input type="number" class=" form-control"
                           id="inputMovil"
                           name="employedMovil" placeholder="User movil"
                           value={{ employed.movil }}>
                </div>
                {{ generateAlert(errors, 'employedMovil') }}
            </div>

            <div class="col-md-4">
                <h3>Employed Data</h3>
                <div class="form-group">
                    <label for="inputImage">Image</label>
                    <input type="text" id="inputImage" class="form-control" name="employedImage"
                           placeholder="User Image URL"
                           value={{ employed.image }}>
                </div>
                <div class="form-group {% if errors['employedJobPosition'] %} has-error {% endif %}">
                    <label for="inputJobPosition">Job Position</label>
                    <input type="text" class="form-control "
                           id="inputJobPosition" name="employedJobPosition"
                           placeholder="User Job Position" value={{ employed.job_position }}>
                </div>
                {{ generateAlert(errors, 'employedJobPosition') }}

                <div class="form-group {% if errors['selectDepartament'] %} has-error {% endif %}">
                    <label for="inputDepartament">Departament</label>
                    <select class="form-control" name="selectDepartament">
                    {% for departament in departaments %}
                        {{ generateSelectDepartament(departament.name,employed.departament,departament.id) }}
                    {% endfor %}
                    </select>
                </div>
                {{ generateAlert(errors, 'selectDepartament') }}
            </div>
            <input type="hidden" name="_method" value="{{ info.method }}">
            <button class="btn btn-primary pull-right" type="submit">{{ info.submit }}</button>
        </form>
    </div>
{% endblock %}